[Unit]
Description=Automated Document Processor
After=network.target

[Service]
Type=oneshot
EnvironmentFile=%h/.achterhus/conf/nas-tools.conf
ExecStart=/bin/bash ${SCRIPTS_DIR}/document-processor/document-processor.sh

# can't use variables from the config here, but substitutions still work...
StandardOutput=append:%h/.achterhus/log/%N.log
StandardError=append:%h/.achterhus/log/%N.log

[Install]
WantedBy=default.target
